
@{
    ViewBag.Title = "Dashboard";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>

    <hr />

    <h4>Medical Treatment Records</h4>

    <div>
        <table class="table table-striped fixed-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Patient Remarks</th>
                    <th>Diagnosis</th>
                    <th>Clinic Remarks</th>
                    <th>Therapy</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (ViewBag.AppointmentList.Count == 0)
                {
                    <tr>
                        <td colspan="8" style="text-align: center;">
                            <p>No assigned appointments.</p>
                        </td>
                    </tr>
                }
                else
                {
                    foreach (var item in ViewBag.AppointmentList)
                    {
                        <tr>
                            <td>@item.AppointmentID</td>
                            <td>@item.AppointmentDateTime.ToString("MM/dd/yyyy")</td>
                            <td>@item.AppointmentDateTime.ToString("hh:mm tt")</td>
                            <td>
                                <div class="longtext" title="@item.PatientRemarks">
                                    @(string.IsNullOrEmpty(item.PatientRemarks) ? "N/A" : item.PatientRemarks)
                                </div>
                            </td>
                            <td>
                                <div class="longtext" title="@item.Diagnosis">
                                    @(string.IsNullOrEmpty(item.Diagnosis) ? "N/A" : item.Diagnosis)
                                </div>
                            </td>
                            <td>
                                <div class="longtext" title="@item.ClinicRemarks">
                                    @(string.IsNullOrEmpty(item.ClinicRemarks) ? "N/A" : item.ClinicRemarks)
                                </div>
                            </td>
                            <td>
                                <div class="longtext" title="@item.Therapy">
                                    @(string.IsNullOrEmpty(item.Therapy) ? "N/A" : item.Therapy)
                                </div>
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.AppointmentID })
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</main>
