
@{
    ViewBag.Title = "Our Services";
    ViewBag.Message = "Explore a variety of services provided by our dedicated team of healthcare professionals.";
}

<h2>@ViewBag.Title</h2>
<p class="lead">@ViewBag.Message</p>

<hr />

<div class="row">
    <div class="col-md-4">
        <h2>Emergency Care</h2>
        <p>Our Emergency Department is open 24/7 and equipped with advanced technology to handle critical situations.</p>
        <a href="@Url.Action("EmergencyCare")" class="btn btn-secondary">Learn More &raquo;</a>
    </div>
    <div class="col-md-4">
        <h2>Health Screenings</h2>
        <p>Preventive health screenings and tests help to identify potential health issues before they become serious.</p>
        <a href="@Url.Action("HealthScreening")" class="btn btn-secondary">Learn More &raquo;</a>
    </div>
    <div class="col-md-4">
        <h2>Maternity Services</h2>
        <p>We provide complete maternity care for mothers-to-be, including prenatal, delivery, and postnatal services.</p>
        <a href="@Url.Action("MaternityCare")" class="btn btn-secondary">Learn More &raquo;</a>
    </div>
    <br />
    <div class="col-md-4">
        <h2>Specialist Consultation</h2>
        <p>Our team of specialists is ready to provide comprehensive and personalized care for a wide range of medical conditions.</p>
        <a href="@Url.Action("SpecialistConsultation")" class="btn btn-secondary">Learn More &raquo;</a>
    </div>
</div>